*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    background: #363535;
    font-family: 'Century Gothic';
}
header{
    width: 100%;
    height: 50px;
    background: #ED994B;
    align-content: center;
    position: sticky;
    top: 0;
}
nav{
    width: 100%;
    height: 100%;
}
nav ul{
    width: 40%;
    float: right;
    display: flex;
    justify-content: space-between;
   height: 100%;
  margin-right: 2.5em;
}
nav ul li{
  align-content: center;
  padding: 10px;
  font-size: 1.2em;
  list-style-type: none;
  color: #ffff;
}
nav ul li:hover{
    color: rgb(240, 239, 239);
}
nav ul li a{
    text-decoration: none;
    color: #ffff;
}
nav ul li a:hover{
    color: rgb(240, 239, 239);
}
nav ul li button{
    background: #ffff;
    color: #ED994B;
    border-radius: 20px 20px;
    border-width: 0px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    font-family: 'Century Gothic';
}
nav ul li button:hover{
    transform: scale(1.1);
    background: #f8f7f7;
 }

.font-family{
    font-family: 'Century Gothic';
}
.cursor-pointer{
    cursor: pointer;
}
nav ul li:nth-child(2){
    border-bottom: 5px solid #ffff;
    margin-bottom: 5px;
      
} 
/* main{
    width: 100%;
    height: auto;
    background: #363535;
} */
.about-primary-description-container{
    height: 100px;
    padding: 4em;
    width: 80%;
    background: rgb(65,62,62);
    background: linear-gradient(90deg, rgba(65,62,62,1) 0%, rgba(65,62,62,1) 65%, rgba(54,53,53,1) 65%);
}
.description-text-wrapper{
    width: 70%;
    float: left;
}
.page-number-wrapper{
    width: 30%;
    float: right;
       
}
.page-number-wrapper h1{
    text-align: center;
    font-size: 4em;
    color: #ffff;
    
}

.description-text-wrapper h1{
    color: rgb(223, 219, 219);
  width: 30%;
   
}
.border-top{
    width: 10%;
    padding: 5px;
    background: #ED994B;
    border-radius: 20px 20px;
}
.description-text-wrapper  small{
    color: rgb(223, 219, 219);
    
}
.skill-wrapper{
    width: 100%;
    margin-top: -2.5em;
    
}
.skills-highright{
    width: 60%;
    float: right;
}
.skills-highright p span{
    color: #ED994B;
}
.skills-highright p{
   font-size: 1.5em;
    color: #ffff; 
}
.other-skills-wrapper{
   width: 30%;
   margin-left: 4em;
   background: #413e3e;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   border-radius: 5px 5px;
}
.other-skills-wrapper ul{
    padding: 40px;
}
.other-skills-wrapper ul li{
    padding: 5px;
    color: rgb(206, 201, 201);
    list-style-type: none;
}
.other-skills-wrapper ul li::before {
    content: "•   ";
    color: #ED994B; /* or whatever color you prefer */
    padding-right: 5px;
  }
  .tools-wrapper{
      margin-top: 1em;
      width: 90%;
      padding: 10px;
      display: grid;
      grid-template-columns: auto auto;
    
  }

  progress {
    background-color: #ED994B;
    border: 0;
    height: 18px;
    border-radius: 20px 20px;
    
  }
  .tool-item{
    margin-top: 1em;
    display: flex;
  }
 .tool-item img{
     width: 90%;
 }
 .blanding{
     width: 95%;
     padding: 2em;
     display: grid;
     grid-template-columns: auto auto auto;
    
 }
 .blanding-item{
     width: 50%;
     margin-left: 30%;
   
 }
 .blanding .number{
     width: 200px;
     height: 200px;
     border-radius: 50%;
     color:  #fff;
     background: #413e3e;
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   
 }
 .blanding .number p{
     text-align: center;
     padding: 100px;
 }
 .blanding p{
     text-align: center;
 }
 .blanding .number-description{
     padding-top: 10px;
     color: #ED994B
 }
 footer{
     width: 90%;
     padding: 2em;
     display: flex;
     
 }
.copyright{
    width: 20%;
    padding: 2em;
    margin-left: 4em;
    color: #fff;
    font-size: 13px;
 
}
.social-media{
     width: 15%;
     display: flex;
     justify-content: space-around;
     margin-left: 2em;
     align-items: center;
}
.font-aswesome-color-white{
    color: white;
    font-size: 2em !important;
    
}
.font-aswesome-color-white:hover{
    color: #ED994B;
}
.skill-logo{
    width: 15%;

}
.skill-logo img{
    width: 40px;
    height: 40px;
    border-radius: 50% ;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.progress-bar{
    width: 80%;
    display: grid;
    display: flex; 
     
      
}
.left-progress-part{
  
    height: 15px;
    background: #ED994B;
    border-radius: 20px 0px 0px 20px;
   
}
.right-progress-part{
  
    background: silver;
    height: 15px;
    border-radius: 0px 20px 20px 0px;
   
}
._20width{
    width: 20%;
}
._30width{
    width: 30%;
}
._40width{
    width: 40%;
}
._50width{
    width: 50%;
}
._60width{
    width: 60%
}
._70width{
    width: 70%;
}
._80width{
    width: 80%
}
.main-container{
    width: 100%;
}
.mobile-sidebar{
    display: none;
}
.mobile-toggle-headere{
    display: none;
}
/* ------------------------------------RESPONSIVE DESIGN--------------------------------- */
@media (min-width:1025px) {
    /* .mobile-sidebar{
        display: none;
    }
    .main-container{
        width:95%;
     
    } */
   }
   @media only screen and (max-width: 600px) {
    .mobile-sidebar{
        display: block;
    }
    .mobile-toggle-headere{
        display: block;
    }
       *{
           padding: 0;
           margin: 0;
           box-sizing: border-box;
       }
       body{
         width: 100%;  
           padding: 0;
           margin: 0;
       }
    header{
        display: none;
        padding: 0;
           margin: 0;
    }
   
    .main-container{
      width: 100%;
        
    }
    main{
       width: 100%; 
        padding: 0;
           margin: 0;
    }
    
    .about-primary-description-container{
        width: 90%; 
        height: 210px;
        padding: 0px; 
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin: 0;
        
        
    }
    .description-text-wrapper{
       width: 100%;
    }
    .border-top{
        width: 40%;
    }
    .skill-wrapper{
        display: flex;
        flex-direction: column;
        padding: 20px; 
    }
  .skills-highright{
    
     width: 100%;


  }
  .skills-highright p{
      margin-top: -0.5em;
  }
  .tools-wrapper{
    margin-top: 1em;
     width: 100%;
  }
  .tool-item{
      display: flex;
      flex-direction: column;
  }
   .other-skills-wrapper{
       width: 100%;
       margin-left: 0;
       margin-top: 1em; 
   }
   .blanding{
       display: flex;
       flex-direction: column;
       align-items: center  ;
   }
   .blanding-item{
       margin-left: 0;
       margin-top:2em;
   }
   footer{
       width: 100%;
       display: flex;
       justify-content: space-between;
   }
   .copyright{
     margin-left: 0;
     width: 70%;
     padding: 0;
   }
   .social-media{
      width: 40%;
   }
   /* ------------------------SIDE BAR DESIGN-------------------------- */
    
    
   #sidebar{
    width: 200px;
    height: 100%;
    background: #ED994B;
    position: fixed;
    left: -200px;
    transition: all 500ms linear;
 

}
.mobile-sidebar ul{
    margin-top: 4em;
    
}
.mobile-sidebar ul li a{
    color: #ffff;
    font-family: 'Century Gothic';
    text-decoration: none;
    padding-left: 20px;
}
#sidebar.active{
   left: 0px; 
   float: left;
   width: 80%;

}
#main-container.full{
    width:100%;
   
}
#sidebar ul li{
    color: rgba(230,230,230,0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}
.toggle-btn{
    /* position: absolute;
    left: 80%;
    top: 40px; */
    float: right;

}
.toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #fff;
    margin: 3px 0px;

}
#main-container{
    clear:both;
    width: 100%;
   height: 100%;
    transition: all 500ms linear;
}
.mobile-toggle-headere{
    background: #ED994B;
    width: 100%;
    height: 40px;
    padding: 10px;
    position: sticky;
    top: 0;
}

.active-router{
   background: #c9803b;
}
.join-me-btn{
        background: #ffff;
        color: #ED994B;
        border-radius: 20px 20px;
        border-width: 0px;
        padding: 10px;
        width: 100px;
        cursor: pointer;
        font-family: 'Century Gothic';
   
}
/* ------------------------SIDE BAR DESIGN-------------------------- */

   }  
   @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2){
        header{
            width: 106.3%;
            margin: 0;
            padding: 0;
            
        }
        nav{
            width: 100%;
        }
        nav ul{
            width: 40%;
            float: right;
            display: flex;
            justify-content: space-between;
           height: 100%;
          /* margin-right: 2.5em; */
        }
        .blanding-item{
            align-items: center;
        }
        .blanding-item{
            margin-left: 20%;
            text-align: center;
        }
        footer{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .copyright{
          margin-left: 0;
          width: 70%;
          padding: 20;
        
          
        }
        .social-media{
           width: 15%;
           padding: 30px;
        }
      

    }
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
       header{
           width: 108.3%;
       }
       
      nav ul{
          margin-right: 0;
          clear: both;
          float: left;
          margin-left: 40%;
      }
      .tool-item{
        display: flex;
        flex-direction: column;
    }
      .blanding .number-description{
        margin-left: 50%;
       
    }
    .skill-wrapper{
        width: 100%;
    }
   
    .other-skills-wrapper{
       height: 325px;
      
    }
    .other-skills-wrapper ul{
        padding: 30px;
        
    }
      }