*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    background: #363535;
    font-family: 'Century Gothic';
}
header{
    width: 100%;
    height: 45px;
    background: #ED994B;
    align-content: center;
    position: sticky;
    top: 0; 
}
nav{
    width: 100%;
    height: 100%;
}
nav ul{
    width: 40%;
    float: right;
    display: flex;
    justify-content: space-between;
   height: 100%;
  margin-right: 2.5em;
}
nav ul li{
  align-content: center;
  padding: 10px;
  font-size: 1em;
  list-style-type: none;
  color:white;
}
nav ul li:hover{
    color: rgb(240, 239, 239);
}
nav ul li a{
    text-decoration: none;
    color:white;
}
nav ul li a:hover{
    color: rgb(240, 239, 239);
}
nav ul li button{
    background:white;
    color: #ED994B;
    border-radius: 20px 20px;
    border-width: 0px;
    padding: 10px;
    width: 100px;
    margin-top: -0.2em;
    cursor: pointer;
    font-family: 'Century Gothic';
}
nav ul li button:hover{
    transform: scale(1.1);
    background: #f8f7f7;
 }

.font-family{
    font-family: 'Century Gothic';
}
.cursor-pointer{
    cursor: pointer;
}
nav ul li:nth-child(4){
    border-bottom: 5px solid white;
    margin-bottom: 5px;
  
}
main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.blogs-container{
    padding: 2em;
    width: 85%;
     margin-top: 2em;
    display: flex;
    justify-content: space-between;
    
}
.blog-story-wrapper{
    width: 65%;
    /* height: 500px; */
    background: #494545;
    border-radius: 20px 20px;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   padding: 2em;
    
}
.blog-story-wrapper h2{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
    color: #f8f7f7;
    margin-bottom: 5px;
}
.blog-story-wrapper img{
    width: 100%; 
    height: 300px;
}
.blog-story-wrapper small{
    color: rgb(240, 236, 236);
    font-weight: lighter;
    float: right;
    display: block;
    margin-bottom: 1em;
}
.blog-story-wrapper p{
    clear: both;
    color: #c7c5c5;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.blog-item{
    padding: 20px;
}
.blog-item h3{
    font-family: 'Montserrat', sans-serif;
    color:white;
}
.blog-item img{
    width: 100%;
    height: 80%;
}
.blog-item small{
    color: rgb(238, 238, 247);
    text-decoration: underline;
    cursor: pointer;
}

.other-blogs-wrapper{
    width:25%;
   
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* background: yellow; */
}
.blog-item{
    float: right;
    width: 100%;
    background-color: #494545;
    height: 200px;
    border-radius: 20px 20px;
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-bottom: 2em;
}


 footer{
     width: 90%;
     padding: 2em;
     display: flex;
     /* align-content: space-between; */
 }
.copyright{
    width: 20%;
    padding: 2em;
    margin-left: 4em;
    color:white;
    font-size: 13px;
 
}
.social-media{
     width: 15%;
     display: flex;
     justify-content: space-around;
     margin-left: 2em;
     align-items: center;
}
.font-aswesome-color-white{
    color: white;
    font-size: 2em !important;
    
}
.font-aswesome-color-white:hover{
    color: #ED994B;
}
.mobile-sidebar{
    display: none;
}
.mobile-toggle-header{
    display: none;
}