*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    background: #363535;
    font-family: 'Century Gothic';
}
header{
    width: 100%;
    height: 50px;
    background: #ED994B;
    align-content: center;
}
nav{
    width: 100%;
    height: 100%;
}
nav ul{
    width: 40%;
    float: right;
    display: flex;
    justify-content: space-between;
   height: 100%;
  margin-right: 2.5em;
}
nav ul li{
  align-content: center;
  padding: 10px;
  font-size: 1.2em;
  list-style-type: none;
  color: white;
}
nav ul li:hover{
    color: rgb(240, 239, 239);
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(240, 239, 239);
}
nav ul li button{
    background: white;
    color: #ED994B;
    border-radius: 20px 20px;
    border-width: 0px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    font-family: 'Century Gothic';
}
nav ul li button:hover{
   transform: scale(1.1);
   background: #f8f7f7;
}
.cursor-pointer{
    cursor: pointer;
}
nav ul li:nth-child(3){
    border-bottom: 5px solid white;
    margin-bottom: 5px;
  
}
main{
    width: 100%;
    z-index: 0;

}
.mobile-toggle-header{
  z-index: 10;
}
.mobile-sidebar{
    z-index: 10;
}
.main-container{
   width: 90%;
   float: right;
   margin-top: 3em;
}
.main-short-background{
    width: 400px;
    height: 250px;
    background: #ED994B;
    padding: 1.5em;
}
.contact-content-wrapper{
    width: 284%;
    background: #413e3e;
    padding: 2em;
    height: 350px;
    display: flex;
}
.queries-wrapper{
   width: 60%;
  
}
.social-medial-wrapper{
  width: 40%;
  padding: 3em;
}
.queries-wrapper h2{
    color: white;
    border-bottom: 1px solid white;
}
.contact-form{
    width: 100%;
    margin-top: 1em;
  
}
.input-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input-wrapper input{
    width: 40%;
    padding: 18px; 
    background-color: #494545;
    color: white !important;
    font-size: 0.9em;
    font-family: 'Century Gothic';
}
.input-wrapper input::placeholder{
    color: white !important;
}
.input-wrapper textarea::placeholder{
    color: white !important;
}
.contact-form textarea{
    width: 96%;
    padding: 1em;
    margin-top: 1em;
    background-color: #494545;
    color: white !important;
    font-size: 0.9em;
    font-family: 'Century Gothic';
}
.contact-form button{
    width: 20%;
    float: right;
    padding: 15px; 
    font-size: 1em;
    background:  #ED994B;
    color: white;
    font-family: 'Century Gothic';
    font-weight: bold ;
    border-width: 0px;
    margin-bottom: 1em;
}
.contact-form button:hover{
    background: #cc8644;
    cursor: pointer;
}
.subscribe-form{
    width: 100%;
    margin-top: 2em;
    display: flex;
    border-top: 1px solid white;
}
.subscribe-form input{
    margin-top: 1em;
    width: 60%;
    padding: 15px;
    background-color: #494545;
    color: white !important;
    font-size: 0.9em;
    font-family: 'Century Gothic';

}
.subscribe-form input::placeholder {
    color: white;
}
.subscribe-form button{
    margin-top: 1em;
    width: 40%;
    background:  #ED994B;
    color: white;
}
.subscribe-form button:hover{
    background: #cc8644;
    cursor: pointer;
}
.social-section{
    color: white;
    font-size: 1em;
    padding: 5px;
    width: 80%;
    border-left: 5px solid #ED994B;
    margin-top: 1.4em;
}
.footer{
  
    /* background: #363535;
    background: linear-gradient(90deg,  #363535 0%, #363535  65%, #413e3e 65%); */
    width: 90%;
    /* position: absolute;
    padding-top:-5em; */
    position: absolute;
    bottom: 0;
    background:transparent;
    bottom: 0;
    height: 95px;
    /* text-align: center; */
}

.footer-content-wrapper{
    float: left;
    width: 40%;
    display: flex;
    margin-top: 3em;
    padding-left: 1em;
    justify-content: space-between;
}
.font-aswesome-color-white{
    color: white;
    font-size: 2em !important;
}
.social-medai-links{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.footer-content-wrapper p{
    font-size: 13px;
    color: white;
}
.font-aswesome-color-white:hover{
    color: #ED994B;
}
.mobile-footer{
    display: none;
}
.mobile-sidebar{
    display: none;
}
.mobile-toggle-header{
    display: none;
}

