*{
    margin: 0;
    padding: 0;
    border: 0;
}
:focus{
    outline: none;
}
body{
 background-image: url('../assetes/index-bg-img.png');
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;

}
.mobile-sidebar{
    display:none;
}
.page-container{
    width: 100%;
    height: 100%;
  
}
.main-container{
  padding: 2em;  
  width: 10%;
  justify-content: center;
}
.top-corner-angles{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top-corner-angles img{
    width: 45px;
}
nav{
    width: 30%;
    float: right;
    margin-right: 4em;
    margin-top: -2.5em;
}
nav ul{
    display: inline;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    font-size: 20px;
    list-style-type: none;
    
    color: white;
}
nav ul li:hover{
    color: #ED994B;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li  a:hover{
    color: #ED994B;
}
.join-me-btn{
    border-width: 0px;
    background: #ED994B;
    color: white;
    width: 80px;
    padding: 10px;
    border-radius: 20px 20px;
    font-family: 'Century Gothic';
    font-weight: lighter;
    cursor: pointer;
}
.join-me-btn:hover{
    background: #cf853f;
    transform: scale(1.1);
}
.font-family{
    font-family: 'Century Gothic';
}
.cursor-pointer{
    cursor: pointer;
}
.hightrigt-wrapper{
    width: 90%;
    margin: 0 5%;
    padding: 20px;
}
.profile-img-wrapper{
    width: 35%;
    float: left;

}
.profile-img-wrapper img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 9px solid #ED994B;
    background-color: silver;
}
.hightright-text-wrapper{
    width: 60%;
    float: left;
    padding-top: 20px;
    margin-right: 3em;
}
.hightright-text-wrapper h1{
    color: #ED994B;
    font-size: 5em;
}
.hightright-text-wrapper h1 small{
    font-size: 50%;
    color: white;
}
.hightright-text-wrapper h1 small span{
    font-size: 2em;;
    /* color: black; */
}
.hightright-text-wrapper h3{
    color: white;
    font-weight: lighter;
    font-size: 2.3em;
}
.highright-border-btm{
    width: 40%;
    height: 20px;
    border-radius: 20px 20px;
    background: #ED994B;
    margin-top: 10px;
}
.read-btn-wrapper{
    width: 35%;
    margin-top: 3em;
}
.read-btn-wrapper button{
    width: 100%;
    border-radius: 10px;
    border-width: 0px;
    color : white;
    padding: 15px;
    background: #ED994B;
    font-size: 1.3em;
}
.read-btn-wrapper button a{
    color: white;
    text-decoration: none;
}
.read-btn-wrapper button:hover{
    background: #cf853f;
    cursor: pointer;
}
.page-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 7em;
   
}
.page-footer img{
    width: 45px;
}
.font-aswesome-color-white{
    color: white;
    font-size: 2.7em !important;
}
.font-aswesome-color-white:hover{
    color: #ED994B;
}
.social-media-wrapper{
    clear: both;
     width: 200px;
    display: flex;
    justify-content: space-between;
    
}



