*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
 background-image: url('../assetes/index-bg-img.png');
 width: 100%;
 background-repeat: no-repeat;
 background-size: cover;

}
.page-container{
    width: 100%;
    height: 100%;
  
}
.main-container{
  padding: 2em;  
  width: 10%;
  justify-content: center;
}
.top-corner-angles{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top-corner-angles img{
    width: 45px;
}
nav{
    width: 30%;
    float: right;
    margin-right: 4em;
    margin-top: -2.5em;
}
nav ul{
    display: inline;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    font-size: 20px;
    list-style-type: none;
    
    color: #ffff;
}
nav ul li:hover{
    color: #ED994B;
}
nav ul li a{
    text-decoration: none;
    color: #ffff;
}
nav ul li  a:hover{
    color: #ED994B;
}
.join-me-btn{
    border-width: 0px;
    background: #ED994B;
    color: white;
    width: 80px;
    padding: 10px;
    border-radius: 20px 20px;
    font-family: 'Century Gothic';
    font-weight: lighter;
    cursor: pointer;
}
.join-me-btn:hover{
    background: #cf853f;
    transform: scale(1.1);
}
.font-family{
    font-family: 'Century Gothic';
}
.cursor-pointer{
    cursor: pointer;
}
.hightrigt-wrapper{
    width: 90%;
    margin: 0 5%;
    padding: 20px;
}
.profile-img-wrapper{
    width: 35%;
    float: left;

}
.profile-img-wrapper img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 9px solid #ED994B;
    background-color: silver;
}
.hightright-text-wrapper{
    width: 60%;
    float: left;
    padding-top: 20px;
    margin-right: 3em;
}
.hightright-text-wrapper h1{
    color: #ED994B;
    font-size: 5em;
}
.hightright-text-wrapper h1 small{
    font-size: 50%;
    color: #ffff;
}
.hightright-text-wrapper h1 small span{
    font-size: 2em;;
    /* color: black; */
}
.hightright-text-wrapper h3{
    color: #ffff;
    font-weight: lighter;
    font-size: 2.3em;
}
.highright-border-btm{
    width: 40%;
    height: 20px;
    border-radius: 20px 20px;
    background: #ED994B;
    margin-top: 10px;
}
.read-btn-wrapper{
    width: 35%;
    margin-top: 3em;
}
.read-btn-wrapper button{
    width: 100%;
    border-radius: 10px;
    border-width: 0px;
    color : #ffff;
    padding: 15px;
    background: #ED994B;
    font-size: 1.3em;
}
.read-btn-wrapper button:hover{
    background: #cf853f;
    cursor: pointer;
}
.page-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 7em;
   
}
.page-footer img{
    width: 45px;
}
.font-aswesome-color-white{
    color: white;
    font-size: 2.7em !important;
}
.font-aswesome-color-white:hover{
    color: #ED994B;
}
.social-media-wrapper{
    clear: both;
     width: 200px;
    display: flex;
    justify-content: space-between;
    
}




/* ---------------------------------RESPONSIVE MEDIAL QUERIES------------------------------------- */
@media (min-width:1025px) {
    .mobile-sidebar{
        display: none;
    }
    .main-container{
        width:95%;
     
    }
   }
@media only screen and (max-width: 600px) {
   *{
        margin: 0;
        padding: 0;
        
    }
    body{
     width: 100% !important;
    } 
   
    .page-container{
        width: 100%;
    
    }
    .main-container{
        width: 90%;
    }
   .mobile-sidebar{
       display: block;

   }
   nav{
       display: none;
   }
   .profile-img-wrapper{
       width:  100%;
      
   }
   .profile-img-wrapper img{
       width: 250px;
       height: 250px;
       
   }
   .hightright-text-wrapper{
       width: 90%;
     
   }
   .hightright-text-wrapper h1{
       font-size: 3em;
   }
   .hightright-text-wrapper h3{
       font-size: 1em;
   }
   .highright-border-btm{
    width: 40%;
    height: 10px;
    border-radius: 20px 20px;
    background: #ED994B;
    margin-top: 10px;
}
.read-btn-wrapper{
    width: 100%;
    margin-top:2em;
}
.read-btn-wrapper button{
    width: 100%;
    border-radius: 10px;
    border-width: 0px;
    color : #ffff;
    padding: 15px;
    background: #ED994B;
    font-size: 01em;
}
   
/* ------------------------SIDE BAR DESIGN-------------------------- */


#sidebar{
    width: 200px;
    height: 100%;
    background: #363535;
    position: fixed;
    left: -200px;
    transition: all 500ms linear;
 

}
.mobile-sidebar ul{
    margin-top: 4em;
    
}
.mobile-sidebar ul li a{
    color: #ffff;
    font-family: 'Century Gothic';
    text-decoration: none;
    padding-left: 20px;
}
#sidebar.active{
   left: 0px; 
   float: left;
   width: 80%;

}
#main-container.full{
    width:80%;
   
}
#sidebar ul li{
    color: rgba(230,230,230,0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}
.toggle-btn{
    position: absolute;
    left: 270px;
    top: 40px;

}
.toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: #ED994B;
    margin: 3px 0px;

}
#main-container{
    clear:both;
    width: 80%;
   height: 100%;
    transition: all 500ms linear;
}
/* ------------------------SIDE BAR DESIGN-------------------------- */


  }

  @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
        *{
            margin: 0;
            padding: 0;
            
        }
        body{
         width: 100% !important;
         height: 100% ;
        } 
       
        .page-container{
            width: 100%;
        
        }
        .main-container{
            width: 100%;
        }
       .mobile-sidebar{
           display: block;
    
       }
       nav{
           display: none;
       }
       /* .profile-img-wrapper{
           width:  100%;
          
       }
       .profile-img-wrapper img{
           width: 250px;
           height: 250px;
           
       }
       .hightright-text-wrapper{
           width: 90%;
         
       }
       .hightright-text-wrapper h1{
           font-size: 3em;
       }
       .hightright-text-wrapper h3{
           font-size: 1em;
       }
       .highright-border-btm{
        width: 40%;
        height: 10px;
        border-radius: 20px 20px;
        background: #ED994B;
        margin-top: 10px;
    } */
    .hightright-text-wrapper{
       width: 100%;
    }
    .hightright-text-wrapper h1{
        display: inline;
        font-size: 5em;
    }
    .read-btn-wrapper{
        width: 100%;
        margin-top:2em;
    }
    .read-btn-wrapper button{
        width: 50%;
        border-radius: 10px;
        border-width: 0px;
        color : #ffff;
        padding: 15px;
        background: #ED994B;
        font-size: 01em;
    }
       
    /* ------------------------SIDE BAR DESIGN-------------------------- */
    
    
    #sidebar{
        width: 200px;
        height: 100%;
        background: #363535;
        position: fixed;
        left: -200px;
        transition: all 500ms linear;
     
    
    }
    .mobile-sidebar ul{
        margin-top: 4em;
        
    }
    .mobile-sidebar ul li a{
        color: #ffff;
        font-family: 'Century Gothic';
        text-decoration: none;
        padding-left: 20px;
    }
    #sidebar.active{
       left: 0px; 
       float: left;
       width: 80%;
    
    }
    #main-container.full{
        width:100%;
       
    }
    #sidebar ul li{
        color: rgba(230,230,230,0.9);
        list-style: none;
        padding: 15px 10px;
        border-bottom: 1px solid rgba(100,100,100,0.3);
    }
    .toggle-btn{
        position: absolute;
        left: 80%;
        top: 40px;
    
    }
    .toggle-btn span{
        display: block;
        width: 30px;
        height: 5px;
        background: #ED994B;
        margin: 3px 0px;
    
    }
    #main-container{
        clear:both;
        width: 90%;
       height: 100%;
        transition: all 500ms linear;
    }
    /* ------------------------SIDE BAR DESIGN-------------------------- */
    
    
}
  /* @media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
    .ipad-landscape { color: blue; } 
  } */
  /* } */