*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background: #363535;
    font-family: 'Century Gothic';
}
header{
    width: 100%;
    height: 50px;
    background: #ED994B;
    align-content: center;
}
nav{
    width: 100%;
    height: 100%;
}
nav ul{
    width: 40%;
    float: right;
    display: flex;
    justify-content: space-between;
   height: 100%;
  margin-right: 2.5em;
}
nav ul li{
  align-content: center;
  padding: 10px;
  font-size: 1.2em;
  list-style-type: none;
  color: white;
}
nav ul li:hover{
    color: rgb(240, 239, 239);
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: rgb(240, 239, 239);
}
nav ul li button{
    background: white;
    color: #ED994B;
    border-radius: 20px 20px;
    border-width: 0px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    font-family: 'Century Gothic';
}
nav ul li button:hover{
    transform: scale(1.1);
    background: #f8f7f7;
 }

.font-family{
    font-family: 'Century Gothic';
}
.cursor-pointer{
    cursor: pointer;
}

main{
    width: 100%;
    display: flex;
    justify-content: space-around;
  
}
.signin-container{
     margin-top: 3.5em;
    width: 70%; 
   
}
.left-form-wrapper{
    width: 50%;
    float: left;
    background: #413e3e;
    border-radius: 20px 0px 0px 20px;
    height: 450px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.right-form-wrapper{
    width: 50%;
    float: right;
    background: white;
    border-radius: 0px 20px 20px 0px;
    height: 450px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
   
}
.right-form-wrapper form{
    padding: 10px;
    width: 90%;
    /* background: yellow; */
    align-items: center;
    margin-top: 2em;
    background: white;
}
.right-form-wrapper form input{
    border-radius: 40px 40px;
    border: 1px solid #ED994B;
    padding: 15px 20px;
    width: 90%;
    font-size: 1em;
}
.right-form-wrapper form button{
    width: 100%;
    background: #ED994B;
    color: white;
    padding: 15px;
    font-size: 1.3em;
    border-radius: 40px 40px;
    margin-bottom: 2em;
    margin-top: 1em;
    cursor: pointer;

}
.right-form-wrapper form button:hover{
    background: #d48d4a;
}
.input-wrapper{
    padding-top: 1em;
    width: 90%;
    /* background: red; */
    float:right;
}
.right-form-wrapper form label{
    padding-top: 2em;
}
.highright-text-wrapper{
  margin-top: 30%;
    text-align: center;
}
.highright-text-wrapper h1{
    font-size: 3em;
    color: white;
}
.highright-text-wrapper h1 small{
    font-size: 15px;
    display: block;
    color: #ED994B;
}
.highright-text-wrapper button{
    margin-top: 2em;
    padding: 15px;
    width: 150px;
    font-size: 17px;
    border-radius: 30px 30px;
    color: #ED994B;
    border: 1px solid #ED994B;
    background-color: transparent;
    cursor: pointer;
}
.highright-text-wrapper button:hover{
    color: white;
    background-color: #ED994B;
}
